/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

.selected {
  color: orange;
}

.quiz fieldset {
  border:none;
}

.quiz form input[type="radio"],
.quiz form input[type="radio"]+label {
  display: inline-block;
  width: auto;
  margin-top: .35rem;
}

.quiz, .results, .start-page {
  text-align: center;
}